html {
	/* Colors */
	--slate-50: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;

	/* Non-Interactable */
	--text-color-primary: black;
	/* --text-color-secondary: ; */
	/* --text-color-tertiary: ; */
	--background-color-primary: white;
	/* --background-color-secondary: ; */
	/* --background-color-tertiary: ; */
	--border-color-primary: gray;
	/* --border-color-secondary: ; */
	/* --border-color-tertiary: ; */

	/* Interactable */
	/* --text-color-normal: ;
    --text-color-normal-hover: ;
    --text-color-normal-active: ;
    --text-color-success: ;
    --text-color-success-hover: ;
    --text-color-success-active: ;
    --text-color-warn: ;
    --text-color-warn-hover: ;
    --text-color-warn-active: ;
    --text-color-danger: ;
    --text-color-danger-hover: ;
    --text-color-danger-active: ; */
	--text-color-topbar: var(--slate-950);
	--text-color-topbar-hover: var(--slate-200);
	--text-color-topbar-active: var(--slate-950);

	/* --background-color-normal: ;
    --background-color-normal-hover: ;
    --background-color-normal-active: ;
    --background-color-warn: ;
    --background-color-warn-hover: ;
    --background-color-warn-active: ;
    --background-color-danger: ;
    --background-color-danger-hover: ;
    --background-color-danger-active: ; */
	--background-color-topbar: var(--slate-300);
	--background-color-topbar-hover: var(--slate-500);
	--background-color-topbar-active: var(--slate-400);

	/* --border-color-normal:;
    --border-color-normal-hover:;
    --border-color-normal-active:;
    --border-color-warn:;
    --border-color-warn-hover:;
    --border-color-warn-active:;
    --border-color-danger:;
    --border-color-danger-hover:;
    --border-color-danger-active:; */
	--border-color-topbar: var(--slate-400);
	--border-color-topbar-hover: var(--slate-400);
	--border-color-topbar-active: var(--slate-400);

	/* Defaults */
	color: var(--text-color-primary);
	background-color: var(--background-color-primary);
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	line-height: 1.5rem;
}

html[site-theme='dark'] {
	/* Non-Interactable */
	--text-color-primary: white;
	/* --text-color-secondary: ; */
	/* --text-color-tertiary: ; */
	--background-color-primary: black;
	/* --background-color-secondary: ; */
	/* --background-color-tertiary: ; */
	--border-color-primary: gray;
	/* --border-color-secondary: ; */
	/* --border-color-tertiary: ; */

	/* Interactable */
	/* --text-color-normal: ;
    --text-color-normal-hover: ;
    --text-color-normal-active: ;
    --text-color-success: ;
    --text-color-success-hover: ;
    --text-color-success-active: ;
    --text-color-warn: ;
    --text-color-warn-hover: ;
    --text-color-warn-active: ;
    --text-color-danger: ;
    --text-color-danger-hover: ;
    --text-color-danger-active: ; */
	--text-color-topbar: var(--slate-300);
	--text-color-topbar-hover: var(--slate-600);
	--text-color-topbar-active: var(--slate-800);

	/* --background-color-normal: ;
    --background-color-normal-hover: ;
    --background-color-normal-active: ;
    --background-color-warn: ;
    --background-color-warn-hover: ;
    --background-color-warn-active: ;
    --background-color-danger: ;
    --background-color-danger-hover: ;
    --background-color-danger-active: ; */
	--background-color-topbar: var(--slate-700);
	--background-color-topbar-hover: var(--slate-500);
	--background-color-topbar-active: var(--slate-400);

	/* --border-color-normal:;
    --border-color-normal-hover:;
    --border-color-normal-active:;
    --border-color-warn:;
    --border-color-warn-hover:;
    --border-color-warn-active:;
    --border-color-danger:;
    --border-color-danger-hover:;
    --border-color-danger-active:; */
	--border-color-topbar: var(--slate-600);
	--border-color-topbar-hover: var(--slate-600);
	--border-color-topbar-active: var(--slate-600);
}

svg {
	margin: 0 auto;
	display: block;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	border: inherit;
	background-color: transparent;
	z-index: auto;
}

button :focus {
	z-index: 10;
}

body {
	margin: 0;
}
